<!-- 
The values we passed to the view from the controller are 
collectively called our "assigns". We could access our messenger 
value via assigns.messenger but through some metaprogramming, 
Phoenix gives us the much cleaner @ syntax for use in templates.

-->

<section>
    <h2>Hello World, from <%= @messenger %></h2>
</section>